html,body{
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #EDEDED;
}

.navbar{
    background-color: #009EE3;
    color: white;
    display: flex;
    justify-content: space-between;
}*/

.navbar .izquierda{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 1.2rem;
}*/


.navbar .der{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.navbar .izq span{
    margin: 1rem;
}

.navbar .derecha button{
    border: none;
    background-color: #33B1E9;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.3rem;
}


.tarjeta{
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background-color: #F5F5F5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}
.tarjeta{
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background-color: #F5F5F5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}*/

.filadinero h5,h6{
    color: grey;
    font-weight: lighter;
}

.filadinero, .filaGanancias{
    display: flex;
    justify-content: space-between;
}
.filadinero .derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.filaMovimientos button{
    width: 48%;
    margin: 0 0.3rem 0rem 0.3rem;
    padding: 0.5rem 0 0.5rem 0;
}

.BtnInfo{
    background-color: #E4F0F8;
    border: none;
    color: #009EE3;
    font-weight: bold;
    border-radius: 0.5rem;
    
}
.BtnInfo:hover {
    background-color: #c8e0f0;  
    color: #0080b8;             
    cursor: pointer;            
    transition: all 0.3s ease;  
}